<div id="locationWell" class="well">
  <%= form_tag(user_location_path, :id => 'location', :class => 'form-inline') do %>
    <%= label_tag :latitude %>
    <%= text_field_tag :latitude, nil, :class => 'form-control' %>

    <%= label_tag :longitude %>
    <%= text_field_tag :longitude, nil, :class => 'form-control' %>

    <%= check_box_tag :use_geoloc %>

    <%= submit_tag 'Set Location', :class => 'btn btn-default' %>
  <% end %>
</div>

<div id="mapCanvas"></div>