<!-- Set javascript data for use in map -->
<%= javascript_tag do %>
  var userPos = undefined; 

  <% if @current_user.latitude %>
    var userPos = {lat: <%= @current_user.latitude %>, lng: <%= @current_user.longitude %>}
  <% end %>
<% end %>


<div id="locationWell" class="well">
  <%= form_tag(user_location_path, :id => 'location', :class => 'form-inline') do %>
    <%= label_tag :latitude %>
    <%= text_field_tag :latitude, nil, :class => 'form-control' %>

    <%= label_tag :longitude %>
    <%= text_field_tag :longitude, nil, :class => 'form-control' %>

    <%= submit_tag 'Set Location', :class => 'btn btn-default' %>
  <% end %>
</div>

<div id="mapCanvas"></div>