<div id="discover" class="row">

  <!-- First Half -->
  <div class="col-md-6">
    <div class="container-fluid">

      <!-- File List -->
      <div id="fileList" class="row">
        <% if @items.present? %>
          <%= button_to '+', new_item_path, :class => 'btn btn-lg btn-success' %>
          <div class="list-group">
            <% @items.reverse_each do |item|%>
              <a href="#" class="list-group-item" data-cl="<%= item.cl_id %>"><%= item.name %></a>
            <% end %>
          </div>
        <% else %>
          <div id="message">
            <h1>Hmmmmmm...</h1>
            <h3>No Users Have Written Files Here</h3>
            <%= link_to 'Be The First!', new_item_path, :class => 'btn btn-success btn-lg' %>
          </div>
        <% end %>
      </div>

      <!-- Google Map -->
      <div class="row">
        <div class="col-md-12">
          <div id="mapCanvas"></div>
        </div>
      </div>

    </div>
  </div>

  <!-- Second Half - File Preview-->
  <div class="col-md-6">
    <div id="filePreview"class="container-fluid well">
      <%= image_tag('usb.png') %>
    </div>
  </div>
</div>

