<!DOCTYPE html>
<html>
<head>
  <%= include_gon %>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false">
</script>

  <title>DeadDrops</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'usb.ico' %>
  
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>"><img src="<%= asset_path 'usb.png' %>" alt=""></a>
      <a class="navbar-brand text" href="<%= root_path %>">DeadDrops</a>
    </div>

    <%== navigation %>

  </div>
</nav>

<div id="wrapper" class="container-fluid">
  <%= yield %>
</div>

</body>
</html>
